# macOS
.DS_Store
# IDEs
.idea/
.claude/
# Project
.env
# Dependencies
node_modules/
# Generated
.astro/
# Build output
dist/
# Pagefind
public/pagefind
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
