---
import { SHARE_LINKS } from "@/constants";
import LinkButton from "./LinkButton.astro";

const URL = Astro.url;
---

{
  SHARE_LINKS.length > 0 && (
    <div class="flex max-w-3xl flex-none flex-col items-center justify-center gap-1 font-ui text-sm text-foreground-muted md:items-start">
      <span data-i18n="share.label">Share this post:</span>
      <div class="text-center">
        {SHARE_LINKS.map(social => (
          <LinkButton
            href={`${social.href + URL}`}
            class="scale-90 rounded-full p-2 hover:-translate-y-0.5 hover:rotate-3 sm:p-1"
            title={social.linkTitle}
          >
            <social.icon class="inline-block size-5 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:size-6" />
            <span class="sr-only">{social.linkTitle}</span>
          </LinkButton>
        ))}
      </div>
    </div>
  )
}
