---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
---

<div class="flex flex-wrap items-center gap-1">
  {
    SOCIALS.map(social => (
      <LinkButton
        href={social.href}
        class="rounded-full p-2 text-foreground-muted hover:-translate-y-0.5 hover:rotate-3 hover:text-accent sm:p-1"
        title={social.linkTitle}
      >
        <social.icon class="inline-block size-5 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:size-6 sm:scale-100" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>
